/* ====================
AWARDS
==================== */

@import 'styles';

.awards {
  height: 100%;
  padding-top: 1.5rem;

  .card-body-inner {
    font-family: $poppins;
    font-weight: 600;
    font-style: normal;
    padding-left: 1rem;
    padding-right: 1rem;

    .awards-icon {
      margin-bottom: .75rem !important;
    }

    .awards-name {
      font-size: 20px;
      line-height: 19px;
    }

    .awards-source {
      font-size: 15px;
      line-height: 15px;
      color: $bbdo-hr-base-text-85p;
      margin-bottom: .1rem;
    }

    .awards-year {
      font-size: 12px;
      line-height: 19px;
      color: $bbdo-hr-base-text-70p;
    }
  }
}

// iPhone 6/7/8/x/11 pro
@media only screen and (min-width: 375px) {
  .awards {
    .card-body-inner {
      .awards-name {
        font-size: 21px;
      }
    }
  }
}

// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) {}

// iPhone 12 + 12 Pro
@media only screen and (min-width: 390px) { }

// Pixel 2
@media only screen and (min-width: 411px) {
  .awards {
    .card-body-inner {
      padding-left: 3rem;
      padding-right: 3rem;

      .awards-icon {
        margin-bottom: 1rem !important;
      }

      .awards-name {
        margin-bottom: .5rem !important;
      }

      .awards-source {
        font-size: 17px;
        margin-bottom: .2rem;
      }

      .awards-year {
        font-size: 13px;
      }
    }
  }
}

// iPhone 6/7/8/11/pro Max Plus
@media only screen and (min-width: 414px) {}

// iPhone 12 Pro Max
@media only screen and (min-width: 428px) { }

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) { }

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .awards {
    .card-body-inner {
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      .awards-icon {
        margin-bottom: .5rem !important;

        img {
          transform: scale(0.9);
        }
      }

      .awards-name {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: .25rem !important;
      }

      .awards-source {
        font-size: 15px;
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .awards {
    .card-body-inner {
      padding-left: .75rem;
      padding-right: .75rem;

      .awards-icon {
        margin-bottom: .25rem !important;

        img {
          transform: scale(0.85);
        }
      }

      .awards-name {
        font-size: 19px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .awards {
    .card-body-inner {
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      .awards-icon {
        img {
          transform: scale(0.9);
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .awards {
    .card-body-inner {
      padding-left: 1.75rem;
      padding-right: 1.75rem;

      .awards-icon {
        margin-bottom: 1rem !important;

        img {
          transform: scale(1);
        }
      }

      .awards-name {
        font-size: 23px;
        line-height: 22px;
        margin-bottom: .5rem !important;
      }

      .awards-source {
        font-size: 17px;
        line-height: 16px;
        margin-bottom: .3rem !important;
      }

      .awards-year {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1660px and up)
@media (min-width: 1660px) {}

// XX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {}
