<div class="holidays">
  <div class="container h-100">
    <div class="row">
      <!-- Details Component -->
      <app-details [details]="details"></app-details>
    </div>

    <div class="row">
      <div class="col-12 custom-cards holidays-cards">
          <!-- Holidays Cards -->
          <ng-container *ngFor="let holiday of holidays">
            <div class="card mb-4 holidays-details">
              <div class="card-body h-100 justify-content-center">
                <div class="card-body-inner mt-auto h-100 p-2">

                  <div class="col-12 holidays-name">
                    {{ holiday.name }}
                  </div>

                  <div class="col-12 holidays-icon">
                    <img src="./assets/images/holidays-line.svg" alt="Line Icon">
                  </div>

                  <div class="col-12 holidays-day">
                    {{ holiday.day }}
                  </div>

                  <div class="col-12 holidays-date">
                    {{ holiday.date }}
                  </div>

                </div>
              </div>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>


