/* ====================
HOLIDAY SCHEDULE
==================== */

@import 'styles';

.holidays {
  height: 100%;

  .card-body-inner {
    font-family: $poppins;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;

    .holidays-name {
      font-size: 26px;
      line-height: 30px;
      font-weight: 700;
    }

    .holidays-icon {
      img {
        width: 235px;
      }
    }

    .holidays-day {
      font-size: 14px;
      line-height: 14px;
      color: $bbdo-hr-base-text-85p;
    }

    .holidays-date {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

// iPhone 6/7/8/x/11 pro
@media only screen and (min-width: 375px) {
  .holidays {
    .card-body-inner {
      .holidays-name {
        font-size: 23px;
      }

      .holidays-icon {
        img {
          width: 235px;
        }
      }

      .holidays-day {
        font-size: 14px;
        line-height: 14px;
        color: $bbdo-hr-base-text-85p;
      }

      .holidays-date {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}

// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) {}

// iPhone 12 + 12 Pro
@media only screen and (min-width: 390px) { }

// Pixel 2
@media only screen and (min-width: 411px) {
  .holidays {
    .card-body-inner {
      .holidays-icon {
        img {
          width: 250px;
        }
      }

      .holidays-name {
        font-size: 24px;
      }
    }
  }
}

// iPhone 6/7/8/11/pro Max Plus
@media only screen and (min-width: 414px) {}

// iPhone 12 Pro Max
@media only screen and (min-width: 428px) {
  .holidays {
    .card-body-inner {
      padding-top: .75rem !important;
      padding-bottom: .75rem !important;

      .holidays-icon {
        img {
          width: 300px;
        }
      }

      .holidays-name {
        font-size: 26px;
      }

      .holidays-day {
        font-size: 16px;
        line-height: 16px;
      }

      .holidays-date {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) { }

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .holidays {
    .card-body-inner {
      .holidays-name {
        font-size: 24px;
      }

      .holidays-icon {
        img {
          width: 280px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .holidays {
    .card-body-inner {
      .holidays-icon {
        img {
          width: 250px;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .holidays {
    .card-body-inner {
      .holidays-icon {
        img {
          width: 300px;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// XX-Large devices (larger desktops, 1660px and up)
@media (min-width: 1660px) {}

// XX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {}
