<div class="employee-stock">
  <div class="container h-100">
    <div class="row">
      <!-- Details Component -->
      <app-details [details]="details"></app-details>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 custom-accordion">
        <!-- Employee Stock / Accordion -->
        <app-accordion [options]="options" [menus]="menus"></app-accordion>
      </div>

      <div class="col-lg-6 employee-stock-background">
        <img src="./assets/images/employee-stock.svg" alt="Employee Stock Background">

      </div>
    </div>
  </div>
</div>

