<div class="id-tags">
  <div class="container h-100">
    <div class="row">
      <!-- Details Component -->
      <app-details [details]="details"></app-details>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 custom-accordion">
        <!-- id-tags Stock / Accordion -->
        <app-accordion [options]="options" [menus]="menus"></app-accordion>
      </div>

      <div class="col-lg-6 id-tags-background">
        <img src="./assets/images/education-benefit.svg" alt="ID Tags Background">
      </div>
    </div>
  </div>
