/* ====================
COLORS
==================== */

$bbdo-hr-background: #F9F9F9 !important;
$bbdo-hr-blue-primary: #1458E4;
$bbdo-hr-white: #ffffff;


.bbdo-hr-blue-01 {
  background-color: $bbdo-hr-blue-primary !important;
}
