/* ====================
COLORS
==================== */

$bbdo-hr-background: #F9F9F9 !important;
$bbdo-hr-blue-primary: #1458E4;
$bbdo-hr-white: #ffffff;
$bbdo-hr-base-text: rgb(35, 32, 32);
$bbdo-hr-base-text-90p: rgb(35, 32, 32, .9);
$bbdo-hr-base-text-85p: rgb(35, 32, 32, .85);
$bbdo-hr-base-text-70p: rgb(35, 32, 32, .7);

.bbdo-hr-blue-01 {
  background-color: $bbdo-hr-blue-primary !important;
}
