/* ====================
GLOBAL STYLES
==================== */

html,
body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $bbdo-hr-background;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif !important;
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
}

.bbdo-hr-body-wrap  {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bbdo-hr-header-wrap {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  background-color: #1458E4;
}

.bbdo-hr-content-wrap {
  flex-grow: 1;
}

.bbdo-hr-footer-wrap {
  flex: 0 0 50px;
}

a {
  &.nav-link  {
    &.dropdown-toggle {

      &:after {
        display: none !important;
      }

      i {
        padding-left: 8px;
        font-size: 18px;
      }
    }
  }
}


// iPhone 6/7/8/x/11 pro
@media (min-width: 375px) {

  .bbdo-hr-header-wrap {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    background-color: #1458E4;
  }
}

///// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

// Pixel 2
@media (min-width: 411px) {}

// iPhone 6/7/8/11/pro Max Plus
@media (min-width: 414px) {}

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// XX-Large devices (larger desktops, 1680px and up)
@media (min-width: 1680px) {}

// XX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {}
