/* ====================
TIMELINE
==================== */

mgl-timeline {
  width: 100%;

  &.timeline-history {
    .mgl-timeline-line {
      background-color: $bbdo-hr-blue-secondary;
    }

    mgl-timeline-entry {
      margin-bottom: 40px;

      &.expanded {
        mgl-timeline-entry-content {
          padding: .5rem;
          height: 120px !important;
          display: flex;
          align-items: center;
          line-height: 17px;
          font-size: 13px;
        }
      }

      &.alternate {
        .mgl-timeline-entry-card {
          background-color: $bbdo-hr-white;
          @include box-shadow;

          .mgl-timeline-entry-card-header {
            background-color: $bbdo-hr-blue-secondary;
            color: $bbdo-hr-white;
            @include box-shadow;

            mgl-timeline-entry-header {
              padding-left: 5%;
              text-align: left;
              font-size: 13px;
              letter-spacing: .02em;
            }
          }
        }
      }
    }
  }
}

// iPhone 6/7/8/x/11 pro
@media (min-width: 375px) {
  mgl-timeline {
    &.timeline-history {
      mgl-timeline-entry {
        &.expanded {
          mgl-timeline-entry-content {
            line-height: 18px;
            font-size: 14px;
          }
        }

        &.alternate {
          .mgl-timeline-entry-card {
            .mgl-timeline-entry-card-header {
              mgl-timeline-entry-header {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) {}

// iPhone 12 + 12 Pro
@media only screen and (min-width: 390px) { }

// Pixel 2
@media only screen and (min-width: 411px) {
  mgl-timeline {
    &.timeline-history {
      mgl-timeline-entry {
        &.expanded {
          mgl-timeline-entry-content {
            line-height: 19px;
            font-size: 15px;
          }
        }

        &.alternate {
          .mgl-timeline-entry-card {
            .mgl-timeline-entry-card-header {
              mgl-timeline-entry-header {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// iPhone 6/7/8/11/pro Max Plus
@media only screen and (min-width: 414px) {}

// iPhone 12 Pro Max
@media only screen and (min-width: 428px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  mgl-timeline {
    &.timeline-history {
      mgl-timeline-entry {
        &.expanded {
          mgl-timeline-entry-content {
            padding: .5rem 1.25rem;
            height: 100px !important;
            line-height: 22px;
            font-size: 15px;
          }
        }

        &.alternate {
          .mgl-timeline-entry-card {
            .mgl-timeline-entry-card-header {
              mgl-timeline-entry-header {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  mgl-timeline {
    border: 1px solid black;

    &.timeline-history {
      .mgl-timeline-line {
        left: 10%;
        border: 1px dashed orange;
      }
      mgl-timeline-entry {

        margin-bottom: 40px;
        width: calc(65% - 5px);

        &.expanded {
          mgl-timeline-entry-content {
            line-height: 24px;
            font-size: 16px;
          }
        }

        &.alternate {
          margin-left: calc(10% + 5px);

          .mgl-timeline-entry-card {
            .mgl-timeline-entry-card-header {
              mgl-timeline-entry-header {
                font-size: 16px;
              }
            }
          }

          mgl-timeline-entry-side {
            width: 100px;
            font-size: 20px;
            letter-spacing: .02rem;
            font-weight: 800;
            color: $bbdo-hr-blue-secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            &.alternate {
              left: -20%;
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// XX-Large devices (larger desktops, 1660px and up)
@media (min-width: 1660px) {}

// XX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {}

