@import "colors";

:host {
  width: 100%;
  height: 60px;

  @media only screen and (min-width: 768px) {
    height: auto;
  }
}

nav {
  background-color: $bbdo-hr-blue-primary;

  &.bg-dark {
    background-color: $bbdo-hr-blue-primary !important;
  }

  .nav-custom {
    width: 100%;

    a {
      &.navbar-brand {
        font-size: 36px;
        letter-spacing: -1px;
        line-height: 1;
        color: $bbdo-hr-white !important;
        font-weight: 700;

      }
    }

    button {
      &.navbar-toggler {
        border: 2px solid $bbdo-hr-white !important;
        border-radius: 50em;
        height: 40px;
        width: 40px;
        padding: .25rem 0.5rem;
        line-height: .9;
        float: right;
        right: 0px;

        .navbar-toggler-icon {
          background-image: none;
          height: .9em;
          width: .9em;
          color: $bbdo-hr-white;

          &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f0c9";
            font-weight: 900;
          }
        }
      }
    }

    .navbar-nav {
      .nav-item {
        a {
          &.nav-link {
          color: $bbdo-hr-white !important;
          font-size: 17px;
          margin-right: 15px;
          padding: .35em .5em;
          }
        }

        ul {
          &.dropdown-menu {
            background-color: transparent;
            border: none;
            border-radius: 0;

            .dropdown-item {
              color: $bbdo-hr-white;
              padding: .25em 1em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 360px) {
  nav {
    .nav-custom {
      a {
        &.navbar-brand {
          font-size: 38px;
        }
      }
    }
  }
}

// iPhone 6/7/8/x/11 pro
@media (min-width: 375px) {
  nav {
    .nav-custom {
      a {
        &.navbar-brand {
          font-size: 40px;
        }
      }
    }
  }
}

// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) { }

// iPhone 12 + 12 Pro
@media (min-width: 390px) {}

// Pixel 2
@media (min-width: 411px) {
  nav {
    .nav-custom {
      a {
        &.navbar-brand {
          font-size: 42px;
        }
      }
    }
  }
}

// iPhone 6/7/8/11/pro Max Plus
@media (min-width: 414px) {}

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  nav {
    .nav-custom {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .navbar-nav {
        margin-bottom: 0 !important;

        .nav-item {
          a {
            &.nav-link {
            color: $bbdo-hr-white !important;
            font-size: 16px;
            margin-right: 0px;
            }
          }

          ul {
            &.dropdown-menu {
              background-color: $bbdo-hr-white;
              border: 1px solid $bbdo-hr-grey-02;

              .dropdown-item {
                color: $bbdo-hr-base-text;
                padding: .25em 1em;

                &:active {
                  color: $bbdo-hr-white;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  nav {
    .nav-custom {
      a {
        &.navbar-brand {
          font-size: 42px;
        }
      }

      .navbar-nav {
        .nav-item {
          a {
            &.nav-link {
              font-size: 18px;
              letter-spacing: .5px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  nav {
    .nav-custom {
      width: 1140px;

      a {
        &.navbar-brand {
          font-size: 48px;
        }
      }

      .navbar-nav {
        .nav-item {
          a {
            &.nav-link {
              font-size: 18px;
              letter-spacing: .5px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  nav {
    .nav-custom {
      width: 1320px;

      a {
        &.navbar-brand {
          font-size: 48px;
        }
      }

      .navbar-nav {
        .nav-item {
          a {
            &.nav-link {
              font-size: 18px;
              letter-spacing: .5px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1680px and up)
@media (min-width: 1680px) {}

// XX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {}
