<div class="container px-0">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-end">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/home">BBDO HR</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About<i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/awards">Awards</a></li>
              <li><a class="dropdown-item" routerLink="/history">History</a></li>
              <li><a class="dropdown-item" routerLink="/people">People</a></li>
            </ul>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/benefits-payroll">Benefits & Payroll</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/resources">Resources</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
