<div class="benefits-payroll">
  <div class="container h-100">
    <div class="row">
      <!-- Details Component -->
      <app-details [details]="details"></app-details>
    </div>

    <div class="row">
      <div class="col-12 custom-cards">
          <!-- Benefits + Payroll Cards -->
          <ng-container *ngFor="let benefit of benefits">
            <div class="card mb-3">
              <div class="card card-body h-100 justify-content-center">
                <div class="card-body-inner">
                  <div class="col-12 benefits-payroll-icon mb-2">
                    <img src="./assets/images/{{ benefit.icon }}.svg" alt="{{benefit.name}}">
                  </div>
                  <div class="col-12 benefits-payroll-name mb-1">
                    {{ benefit.name }}
                  </div>
                  <div class="col-12 benefits-payroll-text mb-2">
                    {{ benefit.text }}
                  </div>
                  <div class="col-12 benefits-payroll-link">
                    <a href="{{ benefit.link }}" target="{{benefit.target}}">
                      <img src="./../../assets/images/benefits-icon.svg" alt="{{benefit.name}} external link">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>
