<div class="history">
  <div class="container h-100">
    <div class="row">
      <div class="col-md-12 details">
        <!-- History Header + Description -->
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-4 details__header">
            {{header}}<br>{{header1}}
          </div>
          <div class="col-sm-12 col-md-8 px-4 details__description">
            {{description}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- History Timeline -->
        <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side" [mobileWidthThreshold]="mobileWidthThreshold" class="timeline-history">
          <mgl-timeline-entry *ngFor="let entry of entries; let i = index;" (expand)="onExpandEntry($event, i)">

            <!-- Header -->
            <mgl-timeline-entry-header (click)="onHeaderClick($event)">
              <div>{{entry.header}}</div>
            </mgl-timeline-entry-header>

            <!-- Content -->
            <mgl-timeline-entry-content [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'" [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'">
              <div>
                <div>{{entry.content}}</div>
              </div>
            </mgl-timeline-entry-content>
            <!-- Dot -->
            <mgl-timeline-entry-dot
              style="background-color: #347AF0;"
              [size]="size"
              (click)="onDotClick($event)"
              [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
              [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
              ></mgl-timeline-entry-dot>
            <!-- Year -->
            <mgl-timeline-entry-side>{{entry.year}}</mgl-timeline-entry-side>
          </mgl-timeline-entry>
        </mgl-timeline>
      </div>
    </div>
  </div>
</div>

